

QWidget {
    color:#000000;
    border-radius:10px;
}

QCheckBox#PackageCheckBox::indicator {
	height: 35px;
	width: 35px;
	background-color:#DEDDDA;
	border-radius:10px;

}
QCheckBox#PackageCheckBox {
	spacing:0px;
}
QPushButton#package_button_widget {
	background: #DEDDDA;
}
QLabel#Snap {
	background:#6D8764;
	padding:5px;
}
QLabel#Apt {
	background:#BA4D00;
	padding:5px;
}

QLabel#Install {
	background:#DEDDDA;
	padding-left:10px;
}


